span.btn { cursor: default; }
.table tbody tr > td.xb1 { background-color: #777 !important; color: white; }
.table tbody tr > td.x36 { background-color: #5cb85c !important; }
.table tbody tr > td.win { background-color: #f0ad4e !important; }
.table tbody tr > td.mob { background-color: #5bc0de !important; }
.table-hover tbody tr:hover > td.xb1 { background-color: #777 !important; color: white; }
.table-hover tbody tr:hover > td.x36 { background-color: #5cb85c !important; }
.table-hover tbody tr:hover > td.win { background-color: #f0ad4e !important; }
.table-hover tbody tr:hover > td.mob { background-color: #5bc0de !important; }
