{% extends 'index.html.twig' %}

{% block body %}
    <div class="container">
        <h1>
            <a href="https://www.trueachievements.com/" target="_blank" class="link-secondary link-underline-opacity-0 link-underline-opacity-100-hover">My Game Collection</a> - Rank your games
            <a href="/"><span class="bi-arrow-left-circle-fill"></span></a>
        </h1>
        <h3>Which would you rather play? (<a href="">skip)</a></h3>
        {% include 'ranking/game.html.twig' with { 'game': game1, 'otherGame': game2 } %}
        {% include 'ranking/game.html.twig' with { 'game': game2, 'otherGame': game1 } %}
        <div class="text-muted" id="ranking-stats">
            <ul>
                <li>Unranked games: {{ stats.unrankedCount }}</li>
                <li>
                    Top 5 games:<ol>
                        {% for game in stats.top5 %}
                            <li>{{ game.name }}</li>
                        {% endfor %}
                    </ol>
                </li>
                <li>
                    Bottom 5 games:<ol>
                        {% for game in stats.bottom5 %}
                            <li>{{ game.name }}</li>
                        {% endfor %}
                    </ol>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}